<div class="base" >
  <div class="circleMap"  >
    <div class="circleMap__items top" >
      <img src="assets/apple%20jar.jpg" />
      <div class="circleMap__items--text" >
        First image of the circle <br> and <span class="yl">Color Changes</span>
      </div>
    </div>
    <div class="circleMap__items left" >
      <img src="assets/house%20place.jpg" />
      <div class="circleMap__items--text" >Left side image of the<br>circle and<span class="vl" >color change</span></div>
    </div>
    <div class="circleMap__items bottom" >
      <img src="assets/apple%20jar.jpg" />
      <div class="circleMap__items--text" >Bottom side image of the circle <span class="rd" >color change</span></div>
    </div>
    <div class="circleMap__items right" >
      <img src="assets/work%20laptop.jpg" />
      <div class="circleMap__items--text" >Right side image of the circle<br>and <span class="cb" >color change</span></div>
    </div>
    <div class="circleMap__items center" >
      <img src="assets/apple%20jar.jpg" />
      <div class="circleMap__items--text" >Center of the circle<br> and <span class="yl" >color change</span></div>
    </div>
  </div>
</div>
