
<div class="base" >
  <!--  rating stars starts-->
  <div class="cont" >
    <div class="star">
      <div class="overlay" ></div>
    </div>
    <div class="star">
      <div class="overlay" ></div>
    </div>
    <div class="star">
      <div class="overlay" ></div>
    </div>
    <div class="star">
      <div class="overlay"  ></div>
    </div>
    <div class="star">
      <div class="overlay" [style.width]="'90%'" ></div>
    </div>
  </div>
  <div class="cont" >
    <div class="sq-b">
      <div class="overlay-b"   ></div>
      <div class="star-b" ></div>
    </div>
    <div class="sq-b">
      <div class="overlay-b" ></div>
      <div class="star-b" ></div>
    </div>
    <div class="sq-b">
      <div class="overlay-b"  ></div>
      <div class="star-b" ></div>
    </div>
    <div class="sq-b">
      <div class="overlay-b"   ></div>
      <div class="star-b" ></div>
    </div>
    <div class="sq-b">
      <div class="overlay-b"  [style.width]="'60%'" ></div>
      <div class="star-b" ></div>
    </div>


  </div>
  <!--  rating stars starts-->
</div>
