

<div class="app" >
  <router-outlet></router-outlet>
</div>


<div  >
  <!-- The below div will have the rating star -->

<!--  <div class="display-box" >-->
<!--    <img src="assets/apple%20jar.jpg" class="img1 ho" />-->
<!--    <img src="assets/house%20place.jpg" class="img2 ho" />-->
<!--    <img src="assets/work%20laptop.jpg" class="img3 ho" />-->
<!--  </div>-->


<!--  <div class="circleMap"  >-->
<!--    <div class="circleMap__items top" >-->
<!--      <img src="assets/apple%20jar.jpg" />-->
<!--      <div class="circleMap__items&#45;&#45;text" >-->
<!--        Search and directly connect <br> to a <span class="yl">beautician</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="circleMap__items left" >-->
<!--      <img src="assets/house%20place.jpg" />-->
<!--      <div class="circleMap__items&#45;&#45;text" >Search and directly connect<br> to a <span class="vl" >house cleaner</span></div>-->
<!--    </div>-->
<!--    <div class="circleMap__items bottom" >-->
<!--      <img src="assets/apple%20jar.jpg" />-->
<!--      <div class="circleMap__items&#45;&#45;text" >Ask for advise from a <span class="rd" >neighbor</span></div>-->
<!--    </div>-->
<!--    <div class="circleMap__items right" >-->
<!--      <img src="assets/work%20laptop.jpg" />-->
<!--      <div class="circleMap__items&#45;&#45;text" >Search and directly connect<br> to an <span class="cb" >electrician</span></div>-->
<!--    </div>-->
<!--    <div class="circleMap__items center" >-->
<!--      <img src="assets/apple%20jar.jpg" />-->
<!--      <div class="circleMap__items&#45;&#45;text" >Thinking of a project?<br> Connect to <span class="bms-color" >nearby</span> professionals<br> and neighbors</div>-->
<!--    </div>-->
<!--  </div>-->

</div>
